*{
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
button{
    margin-bottom: 0.5%;
    border: none;
    width: 500px;
}
button:hover{
    background-color: green;
}
.gameButton{
    width: 120px;
    height: 100px;
}
body{
    margin-top: 5%;
    text-align: center;
}
#menuDiv{
    margin-top: 3%;
    font-size: xx-large;
}
#highscoreDiv {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #f4f4f4;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: medium;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
#optionsDiv{
    font-size: small;
}
#roundOutcomeDiv{
    color: green;
    font-size: large;
}
#spGameDiv{
    display: none;
}
#PvpDiv{
    display: none;
}
#endScreenDiv{
    display: none;
}