/* w3schools */
*{
    box-sizing: border-box;
}


/* Element Deklaration */
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 140%;
}
input{
    border-color: aquamarine;
    border-radius: 5px;
}

ol, ul{
    padding-bottom: 3%;
    padding-top: 3%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
textarea{
    
    padding-left: -10%;
    margin-right: -10%;
    background-color: rgb(127, 219, 255);
}

/* Klassen Deklarationen */
.button{
    margin-left: 5%;
    padding: 1% 1%;
    color: white;
    background-color: dimgray;
    border: none;
}
.button:hover{
    background-color: green;
}

.elementWithBorder{
    border:3px solid black;
    border-radius: 5px;
}
.bodyContentChild{
    display: inline-block;
}
.sidebarElement{
    float: left;
    overflow: auto;
    width: 25%;
}
.centerElement{
    width: 75%;
    padding-left: 5%;
}
.columnElement{
    float: left;
    overflow: auto;
    width: 21%;
    margin-right: 3%;
}

/* Identifier Deklaration */

#divErrorMessage{
    color: red;
}
#divRadios{
  width: 60%;
  margin-right: -40%;
  overflow: auto;
}
#alter{
  width: 5%;
}
#divTextUndSelect{
  font-size: medium;
  margin-bottom: 1%;
}
#divSelectbox{
  float: right;
}
#restbetragBerechnung{
    padding-top: 1%;
    color: bisque;
    width: 50%;
    background-color:black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#inputField{
    width: 35%;
    font-size: large;
    border: none;
    padding: 1% 1%;
}
#submitButton{
    width: 30%;
}
#divUserDaten{
    margin-top: 5%;
}
#eingabeButton{
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: large;
  margin: 3% 0% 0% 15%;
}
#resultText{
    text-align: center;
}
#result{
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}
#rndPic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Einzelne Punkte der radios und checkbox */
#lbLeguan{
    background-color: forestgreen;
}
#lbElch{
    background-color: rgb(166, 90, 36);
}
#lbEsel{
    background-color: grey;
}
#lbKeins{
    background-color: darkorchid;
}